table {
    border: 2px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

tr {
    border: 2px solid;
}

th {
    border: 2px solid;
}

td {
    border: 2px solid;
}